.section--game-start {
  width: 90%;
  max-width: 687px;
  min-width: 327px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 32px;
}

.game-title {
  color: rgb(var(--Lotion-white));
  font-size: var(--startGame-title);
  text-align: center;
}

.gameContainer {
  background-color: rgb(var(--Lotion-white));
  border-radius: var(--border--modal-mobile);
  padding: 1.5rem;
}

.gameContainer > h3 {
  color: rgb(var(--Shadow-Blue));
  text-transform: capitalize;
  font-size: var(--startGame-text);
  margin-bottom: 10px;
}

.menu--selection-buttons,
.menu--players-numbers,
.menu--grid-size {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .gameContainer {
    padding: 3rem;
  }
  .menu--selection-buttons,
  .menu--players-numbers,
  .menu--grid-size {
    gap: 2.5rem;
  }
}
