/* Game End Modal */

.backdrop {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.498);
  /* display: none; */
}

.modal-container {
  position: fixed;
  width: 90vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgb(var(--Anti-Flash-White));
  padding: 1.25rem;
  border-radius: var(--border--modal-mobile);
  max-width: 654px;
}

.header {
  text-align: center;
  margin-bottom: 1.3rem;
}

.title {
  line-height: 1;
  font-size: var(--modal-title);
  color: rgb(var(--Yankees-Blue));
  margin-block: 0.5rem;
}

.title + p {
  font-size: var(--modal-para);
  color: rgb(var(--Shadow-Blue));
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 2rem;
}

.info-wrapper div {
  padding: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border--modal-inside);
  background-color: rgb(var(--Light-blue));
}

.time-text,
.moves-text {
  color: rgb(var(--Shadow-Blue));
  font-size: var(--modal-time-text);
}

.time,
.moves {
  color: rgb(var(--Charcoal-Solid));
  font-size: var(--modal-data);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.footer > * {
  font-size: var(--modal-btns);
}

@media screen and (min-width: 768px) {
  .modal-container {
    padding: 3rem;
  }

  .info-wrapper {
    gap: 1rem;
  }
  .footer {
    flex-direction: row;
  }
  .footer > * {
    flex: 1;
  }
}
