.footer {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}

.timer-container,
.moves-container {
  flex: 1;
  text-align: center;
  background-color: rgb(var(--Light-blue));
  padding-block: 0.5rem;
  border-radius: 8px;
}

.timer-title,
.moves-title {
  color: rgb(var(--Shadow-Blue));
  font-size: var(--info-text);
}

.timer,
.moves {
  color: rgb(var(--Charcoal-Solid));
  font-size: var(--info-data);
}

@media screen and (min-width: 768px) {
  .footer {
    margin: auto;
    width: 532px;
  }

  .timer-container,
  .moves-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}
