.grid-container {
  display: grid;
  place-items: center;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 326.88px;
}

.list16 {
  gap: var(--grid-width-4x4-gap);
}

.list36 {
  gap: var(--grid-width-6x6-gap);
}

.grid-list-item {
  user-select: none;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(var(--Charcoal-Solid));
  display: grid;
  place-items: center;
  /* color: rgb(var(--Lotion-white)); */
  cursor: pointer;
}

/* .grid-list-item:hover {
  background-color: rgb(var(--Light-Periwinkle));
} */

.grid-item {
  position: relative;
  /* z-index: -1; */
  color: rgb(var(--Lotion-white));
}

.grid16 {
  width: var(--grid-width-4x4);
  font-size: var(--grid-width-4x4-fs);
}

.grid36 {
  width: var(--grid-width-6x6);
  font-size: var(--grid-width-6x6-fs);
}

.iconVisible {
  z-index: 0;
}

.iconHidden {
  z-index: -1;
}

.iconSelected {
  background-color: rgb(var(--Light-Periwinkle));
}

.iconIsPair {
  background-color: rgb(var(--Dark-Tangerine));
}

@media screen and (min-width: 768px) {
  .grid-list {
    width: 572px;
  }
}
